[Unit]
Description=Wakakusa Shift Gunicorn daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=taigakuwata
Group=taigakuwata
WorkingDirectory=/home/taigakuwata/wakakusa-shift
Environment=DJANGO_SETTINGS_MODULE=core.settings.production
ExecStart=/home/taigakuwata/wakakusa-shift/venv/bin/gunicorn \
          -c /home/taigakuwata/wakakusa-shift/gunicorn.conf.py \
          core.wsgi_production:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
Restart=on-failure
RestartSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target 
